@use "../global" as global;


.c-btn {
    text-align: center;
    margin-top: 60px;

    @include global.mq('sp') {
        margin-top: 50px;
    }
    
    a {
        height: 80px;
        color: global.$text-color2;
        font-size: 24px;
        white-space: nowrap;
        display: inline-block;
        line-height: 80px;
        border-radius: 40px;
        transition: font-size 0.5s ease;
        position: relative;
        
        @include global.mq('sp') {
            font-size: min(calc(20 / global.$design-sp-width * 100vw),20px);
            padding-block: min(calc(20 / global.$design-sp-width * 100vw),20px); 
            padding-inline: min(calc(40 / global.$design-sp-width * 100vw),40px);
            width: unset;
            height: unset;
            line-height: unset;
        }

        &:hover {
            font-size: 26px;
        }
    }
}

.c-btn--red {
    a {
        width: 310px;
        background: #ED1A3D;
    }
}

.c-btn--navy {
    a {
        width: 355px;
        background: #1E3050;
    }
}

.c-btn--brown {
    a {
        width: 370px;
        background: #9e7664;
    }
}

.c-btn--green {
    a {
        width: 260px;
        background: #3B9023;
    }

    @include global.mq('sp') {
        margin-top: 60px;
    }
}

